<!-- Timmy: html page for Reservation errors -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="top">
        <h1>Reservation Error</h1>
        <p>The following errors occurred:</p>
        <div class="error">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <a href="{% url 'frontpage' %}" class="back">Go back to the reservation form</a>
    </div>
</body>